@model ComposedViewModels.ViewModels.Fields.PhoneNumberInformation
@Html.Hidden("ModelType", Model.GetType())
<p>
    @Html.LabelFor(model=>model.HomePhoneNumber)
    @Html.EditorFor(model=>model.HomePhoneNumber)
    @Html.ValidationMessageFor(model=>model.HomePhoneNumber)
</p>
<p>
    @Html.LabelFor(model=>model.CellPhoneNumber)
    @Html.EditorFor(model => model.CellPhoneNumber)
    @Html.ValidationMessageFor(model => model.CellPhoneNumber)
</p>
<p>
    @Html.LabelFor(model=>model.WorkPhoneNumber)
    @Html.EditorFor(model => model.WorkPhoneNumber)
    @Html.ValidationMessageFor(model => model.WorkPhoneNumber)
</p>